<launch>

    <!--<include file="$(find mavros)/launch/px4.launch" >-->
        <!--<arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/> </include>-->

    <!--<node pkg="offb_enable" type="offb_enable" name="offb_enable" > </node>-->

    <!--<node pkg="offb_posctl" type="pos_ref_vicon.py" name="pos_ref_vicon" > </node>-->
    <node pkg="offb_posctl" type="offb_posctl_vicon" name="offb_posctl_vicon" output="screen">
            <rosparam
            file="$(find offb_posctl)/param/param_vicon.yaml" command="load"
            />
    </node>
    <!--<node pkg="rqt_plot" type="rqt_plot" name="rqt_plot"> </node>-->

</launch>
